
@model BudgetExpenceProject.Models.Expense

<h2>Edit Expense</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExpenseId)

    <div class="form-group">
        <label>Category</label>
        @Html.DropDownList("CategoryId", null, "-- Select Category --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Amount</label>
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <label>Date</label>
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        <label>Payment Method</label>
        @Html.TextBoxFor(m => m.PaymentMethod, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Note</label>
        @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
    </div>

    <button class="btn btn-success mt-3">Save</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
